{% extends "base.html" %}

{% block title %}
About us
{% endblock %}

{% block body %}
<div class="container-md align-center">
    <div class="col bg-dark">
        <div class="row bg-transparent text-white class=align-baseline">
            <h4>Geofitness is a project created to help people build training programs for hypertrophy. Geofitness is free to use for everyone
                and in case you need help you can contact us on the page "Contact us"
                Geoftiness is actually a final work for a free online learning course created by geolab and sponsored by TBC. You can visit and check out some of their courses:
            </h4>
            <a href="https://geolab.edu.ge/"> <img src="/static/images/geolab.png" height="250"> </a>
            <a href="https://tbceducation.ge/"><img src="/static/images/tbc.png" height="250"> </a>
        </div>
    </div>
</div>

{% endblock %}