{% extends "base.html" %}

{% block title %}
Bodybuilding program
{% endblock %}

{% block body %}
<div class="container-md align-center">
    <div class="col bg-transparent">
        <div class="row bg-transparent text-white">
            <h3>The program will mostly consist of weightlifting, cardio and some calisthenics. The split we'll do is: </h3>
                Monday: <a href="/push">Push Day</a>
                Tuesday: <a href="/pull">Pull Day</a>
                Wednesday: <a href="/legs">Leg Day</a>
                Thursday: Rest Day <br>
                Friday: <a href="/push">Push Day</a>
                Saturday: <a href="/pull">Pull Day</a>
                Sunday: <a href="/legs">Leg Day</a>

            {% endblock %}



        </div>
    </div>
</div>