{% extends "base.html" %}

{% block title %}
Contact us
{% endblock %}

{% block body %}
<form method="post">
    {{form.hidden_tag()}}
    <section id="contact">
        <h1 class="section-header">Contact</h1>
        <div class="container text-center ">
            <div class="container text-center">
                <div class="row align-items-start">
                    {{form.name (class='form-control', placeholder='Name')}}
                    {{form.email (class='form-control', placeholder='E-mail')}}
                    {{form.message (class='form-control', placeholder='Message')}}
                    {{form.submit}}
                    <div class="direct-contact-container">

                        <ul class="contact-list">
                            <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Tbilisi, Georgia</span></i>
                            </li>

                            <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a
                                    title="Give me a call">+995 574 408 179</a></span></i></li>

                            <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a
                                    title="Send me an email">vache.meliqishvili@gmail.com</a></span></i></li>

                        </ul>


                    </div>
                </div>

    </section>
    </div>
    </div>
    </div>


    </button>

</form>


{% endblock %}

