{% extends "base.html" %}

{% block title %}
GeoFitness
{% endblock %}



{% block body %}
<div class="container text-center mt-2">
    <div class="card-group">
        <div class="card bg-dark text-white">
            <img src="/static/images/bodibilding.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bodybuilding Program</h5>
                <p class="card-text">This program is for bodybuilding training. This program is designed for maximum
                    hypetrophy and muscle building. This program moslty includes weightlifting and some
                    calisthenics exercises.</p>
                <a href="/schedule" class="stretched-link">Get the program</a>
            </div>
        </div>


{% endblock %}

