{% extends "base.html" %}

{% block title %}
Hamstring Curls
{% endblock %}

{% block body %}
<div class="container-md align-center">
    <div class="row">
        <div class="col sm-8 text-center">
            <div class="embed-responsive embed-responsive-16by9 width=420">
                <iframe width = "1200" height="600" class="embed-responsive-item" src="https://www.youtube.com/embed/5xR8tvg4-yM?si=z7Mlp-V9wN0IElBL" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}l>