{% extends "base.html" %}

{% block title %}
Pull Day
{% endblock %}

{% block body %}

<div class="container-md align-center">
    <div class="col bg-transparent">
        <div class="row bg-transparent text-white">
            <h2> Monday: Push </h2>
            <div class="list-group">
                <ul class="list-group">
                    <li class="list-group-item active" aria-current="true">Back exercises</li>
                    <a href="/pullups" class="list-group-item list-group-item-action">Pull-ups</a>
                    <a href="/cablerows" class="list-group-item list-group-item-action">Seated cable rows </a>
                    <a href="/shrugs" class="list-group-item list-group-item-action">Dumbbell shrugs</a>
                    <li class="list-group-item active" aria-current="true">Biceps exercises</li>
                    <a href="/seatedincline" class="list-group-item list-group-item-action">Seated inclibe dumbbell
                        bicep curls</a>
                    <a href="/preachercurls" class="list-group-item list-group-item-action">Dumbbell/Machine preacher
                        curls</a>
                    <li class="list-group-item active" aria-current="true">Side and rear delt exercises</li>
                    <a href="/cablelateral" class="list-group-item list-group-item-action">Cable lateral raises</a>
                    <a href="/rearflies" class="list-group-item list-group-item-action">Rear delt fly machine</a>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}