<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About me blog</title>
    <link href="baqsi.css" rel="stylesheet">
</head>
<body>
<div class="section">
    <h1> Vache Melikishvili </h1>
    <h2>მოგესალმებით მეგობრებო, მე ვარ ვაჩე მელიქიშვილი და ეს არის ბლოგი ჩემს თავზე.</h2>
    <h3>ინფორმაცია და ფაქტები ჩემს თავზე:</h3>
    <p> მე დავიბადე 2009 წლის 23 აპრილს ქალაქ თბილისში, მე ვსწავლობ #47 საჯარო სკოლის IX-ბ კლასში. მე ვცხოვრობ ჩემს
        ძმასთან, ბებოსთან, დედასთან და ძაღლთან ერთად.
        ჩემი ძაღლი, ბაქსი, 4 წლის არის, ვერ ვიტყვი, რომ მთლად ჩემი ძაღლია რადგან დროის 90% ქუჩაში ატარებს. მე ვარ 65კგ
        და 184სმ (BMI 19.2 კგ/მ<sup>2</sup>). სკოლაში 9-10-ზე ვსწავლობ
        და ჩემი საყვარელი საგანი არის მათემატიკა და სპორტი. ჩემი ჰობი არის:
    <ul>
        <li>სპორტი (ფეხბურთი, კალათბურთი და ვარჯიში)</li>
        <li> კომპიუტერული თამაშები (ჩემი საყვარელი არის: CS 1.6, CS2, PUBG, Valorant, Minecraft და სხვა)</li>
        <br>

</ul>
    ბავშვობაშიც პროგრამისტობა მინდოდა და რამდენიმე გაკვეთილი C# ვსწავლბოდი, მაგრამ მონდომებული არ ვიყავი და ვერ შევძელი
    სწავლა. ახლა უკვე უფრო სერიოზულად ვსწავლობ პითონს Geolab-ის კურსით; ჩვენ გვასწავლის უმაგრესი მასწავლებელი, გიორგი
    კვარაცხელია.
    ასევე მინდა თქვენზე გავიგო ცოტაოდე ინფორმაცია <br>
    რა გქვია: <br>
    <label for="fname">სახელი:</label><br>
    <input class="input" type="text" id="fname" name="fname" value=><br>
    <label for="lname">გვარი:</label><br>
    <input class="input" type="text" id="lname" name="lname" value=><br><br>

    როდის დაიბადეთ? <br> <br>
    <input class="input1" type="date"> <br>

</div>

</p>

<div class="section">
    <h2>ჩემი ცხოვრება</h2>
    <p> ბავშვობაში დაახლოებით 6 წლამდე ვიყავი ძალიან აქტიური ბავშვი - თუ არ ვთამაშობდი გარეთ ან ეზოში მაშინ ვთამაშობდი
        სახლში უმეტეს წილად ჩემს ძმასთან, მაგრამ შემდეგ ჩვენ მოგვიტანეს კომპიუტერი და
        ამის მერე მე გავეცანი კომპიუტერულ თამაშებს, ჩემი ორი უსაყვარლესი თამაში იყო CS 1.6 და Minecraft. კომპიუტერის
        მოტანის შემდეგ ძალიან იშვიათად გავდიოდი გარეთ და ჩემი ოჯახის გარდა ერთადერთი მეგობრული ურთიერთობა მქონდა ჩემს
        კლასელებთან.
        10-11 წლის, რომ ვიყავი ჩემმა ძველმა მეგობრებმა გამომათრიეს გარეთ და ამის შემდეგ შევეჩვიე გარეთ გასვლას, მაშინ 5
        საათიდან 11-მდე სულ გარეთ ვიყავით, ვთამაშობდით ფეხბურთს, დამალობანას, დაჭერობანას და ა.შ.
        დაახლოებით 12 წლის, რომ გავხვდი უკვე დავინტერესდი ვარჯიშით, თავიდან ვაკეთებდი ჩვეულებრივ გავრცელებულ ვარჯიშებს:
        ბუქნებს, პრესს და აზიდვებს. უფრო სერიოზულად ვარჯიში დავიწყე 14 წლისას, სოფელში, იქ შევქმენი ვარჯიშის გეგმა და რა
        წონასაც ვიპოვიდი იმით ვვარჯიშობდი. დაახლოებით ოქტომბერში ჩემმა ძმამ მიყიდა 7.5კგ ჰანტელები და ამის შემდეგ 6 დღე
        კვირაში ვვარჯიშობ.
        13-14 წლის, რომ ვიყავი ასევე დავდიოდი ფეხბურთზე, რადგან მაშინ მინდოდა მეკარეობა, ძალიან სერიოზულად ვვარჯიშობდი
        (7 დღე კვირაში 3 საათამდე), მაგრამ ამავე დროს მქონდა პრობლემა რომელიც სქოლიზოი იყო, 6 წლიდან 10 წლამდე უძრავი
        ცხოვრების გამო მე განმივითარდა სქოლიზოი, ექიმთან როდესაც მივედი მან მითხრა, რომ ჩემთვის არ შეიძლებოდა ის
        დატვირთვა რომელიც ფეხბურთზე იყო და იძულებული გავხდი ფეხბურთიდან გამოვსულიყავი. <br> <br>
</div>
<div class="section">
    <h2>ჩემი ფოტოები</h2> <br>
    <a href="fotoebi.html"> ფოტოების გვერდი </a>

    </p>


    <h2>ჩემი სოციალური ქსელები</h2>

    <a href="socialuri.html">სოციალური ქსელები</a>

    <h3>მოგეწონათ თუ არა ბლოგი?</h3>
    <input type="radio" id="კი" name="Yes/No" value="კი">
    <label for="კი">კი</label><br>
    <input type="radio" id="არა" name="Yes/No" value="არა">
    <label for="არა">არა</label><br>
</div>

</body>
</html>